.main{
    background-color: red;
   /* background-image: url("Squirty.jpg");*/
    background-position: center;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
.p{
    text-align: center;
    background-color:white;
    width: 600px;
    height: 400px;
    line-height: 350px;
    border-style: dotted;
    border-color: black;
    
}
.p p::first-line{
    color:black;
    text-decoration-style: solid;
}
.p p::selection{
    color: yellow;
}
ul.list li:nth-child(3n){
    color: red;
}
